
{% extends "base.html" %}
{% block title %}Login - App MVC{% endblock %}
{% block content %}
<section class="center">
 <form method="post" action="{{ url_for('auth.login') }}" style="width:360px;">
    <h3>Iniciar sesión</h3>
    <label>Email
      <input type="email" name="email" placeholder="tú@ejemplo.com" required />
    </label>
    <label>Password
      <input type="password" name="password" placeholder="••••••••" required />
    </label>
    <button type="submit">Entrar</button>
    <p><small>Usuario por defecto: admin@example.com / admin123</small></p>
  </form>
</section>
{% endblock %}
